.profile{
    width: 100%;
    padding: 60px 0;
}

.profile-content{
    width: 100%;
    /* height: 400px; */
    /* background-color: green; */
    display: flex;
    /* padding: 60px 0; */
}

.profile-content-1{
    width: calc(300px);
}

.profile-content-1 h1{
    font-family: var(--main-font-family);
    font-size:18px;
}

.profile-content-1 p{
    font-family: var(--main-font-family);
    font-size: var(--medium-font-size);
    margin-top: 5px;
}

.profile-content-2{
    width: calc(100% - 300px);
}

@media(max-width: 992px){
    .profile-content{
        display: block;
    }

    .profile-content-1{
        width: 100%;
    }

    .profile-content-2{
        width: 100%;
        margin: 0;
        margin-top: 30px;
    }
}


.profile-image{
    width: 100%;
    /* height: 200px; */
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-image-content-1 input{
    width: 0;
    height: 0;
    visibility: hidden;
}

.profile-image-content-2{
    margin-left: 20px;
}

.profile-image h2{
    font-family: var(--main-font-family);
    font-size: var(--medium-font-size);
    color: var(--text-color);
}


.profile-image img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-top: 5px;
    border-radius: 5px;
}

.profile-image input{
    height: 25px !important;
}

.profile-nic{
    width: 100%;
    height: 150px;
    margin-top: 5px;
}

.profile-nic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}