* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --main-color: linear-gradient(90deg, #0a0494 0%, #3454d1 61%, #009fff 100%);
    --second-color: rgb(77, 77, 255);
    --xxl-font-size: 40px;
    --large-font-size: 16px;
    --medium-font-size: 14px;
    --small-font-size: 12px;
    --main-font-family: sans-serif;
    --second-font-family: sans-serif;
    --text-color: #707070;
    --text-active-color: rgba(255, 255, 255, 0.8);
    --border: 1px solid rgb(202, 202, 202);
}

.visibility-hidden{
    visibility: hidden;
}

.margin-top-0{
    margin-top: 0px;
}

.margin-top{
    margin-top: 20px;
}

.margin-top-10{
    margin-top: 10px;
}

.margin-top-20{
    margin-top: 20px;
}

.margin-top-30{
    margin-top: 30px;
}

.margin-top-40{
    margin-top: 40px !important;
}


.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.content {
    width:calc(100% - 40px);
    margin: auto;
}

nav {
    width: 100%;
    margin-left: 0;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 5;
    background-color: white;
    transition: all .5s ease;
}

nav.active {
    width: calc(100% - 300px);
    margin-left: 300px;
}

@media(max-width: 768px){
    nav.active {
        width: 100%;
        margin-left: 0;
    }
}

section {
    width: 100%;
    margin-left: 0;
    min-height: calc(100vh - 70px);
    /* background: rgb(204, 42, 1); */
    margin-top: 70px;
    transition: all .5s ease;
    position: relative;
    z-index: 1;
}

section.active{
    width: calc(100% - 300px);
    margin-left: 300px;
}

@media(max-width: 768px){
    section.active{
        width: calc(100%);
        margin-left: 0;
    }
}

aside {
    width: 300px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0px;
    left: -300px;
    z-index: 5;
    transition: all .5s ease;
}

aside.active {
    left: 0;
}

