section{
    padding: 60px 0;
}

.header-title{
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.header-title h4{
    font-family: sans-serif;
    color: #707070;
}

.header {
    width: 100%;
}

.header-content {
    width: 100%;
    height: 400px;
    display: flex;
    position: relative;
}

.header-content-1 {
    width: calc(300px);
    height: 100%;
    border-radius: 5px;
    background-color: rgb(231, 231, 231);
}

.header-category {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    /* background-color: aqua; */
    overflow: hidden;
}

.header-category-header {
    width: 100%;
    height: 40px;
    background: var(--main-color);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.header-category-header i {
    margin-left: 20px;
    font-size: 25px;
    color: white;
}

.header-category-header h4 {
    font-family: sans-serif;
    color: white;
    font-size: 15px;
    user-select: none;
    margin-left: 10px;
}

.header-category-content {
    width: 100%;
    height: calc(100% - 40px);
    /* background-color: rgb(60, 255, 0); */
    overflow-y: scroll;
}

.header-category-content a {
    padding: 8px 10px;
    display: block;
    color: #707070;
    font-family: sans-serif;
    font-size: 16px;
    text-decoration: none;
}

.header-category-content a:hover {
    color: white;
    background: var(--main-color);
    text-decoration: none;
}

.header-content-2 {
    width: calc((100% - 300px) - 20px);
    height: 100%;
    margin-left: 20px;
    border-radius: 5px;
    overflow: hidden;
}

@media(max-width:778px) {
    .header-content-1 {
        position: absolute;
        left: 0;
        height: 40px;
        z-index: 5;
        transition: all .5s ease;
    }

    .header-content-1.active {
        position: absolute;
        height: 100%;
    }

    .header-content-2 {
        width: 100%;
        height: 100%;
        margin: 0;
    }

}

@media(max-width: 576px) {

    .header-content {
        width: 100%;
        height: 300px;
    }

    .header-content-1 {
        width: 100%;
    }
}

.slick-carousel div {
    width: 100%;
    height: 100%;
}

.slick-carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

.loop--slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    /* height: 100px; */
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 20px 0;
}

.loop--slider::before,
.loop--slider::after {
    background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    /* height: 100px; */
    position: absolute;
    width: 200px;
    z-index: 2;
}

.loop--slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.loop--slider::before {
    left: 0;
    top: 0;
}

.loop--slider .loop--slide--track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: -webkit-box;
    display: flex;
    width: calc(250px * 14);
}

.loop--slider .loop--slide {
    /* height: 100px; */
    width: 250px;
}


/* product category */

.category-content {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}

.category-arrow {
    width: 40px;
    height: 100%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    position: absolute;
}

.category-arrow-left {
    left: 0;
    top: 0;
}

.category-arrow-right {
    right: 0;
    top: 0;
}

.category-arrow-content {
    width: calc(100% - 5px);
    height: 35px;
    background-color: rgb(211, 211, 211);
    position: absolute;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-arrow-right-content {
    right: 0;
}

.category-list-1,
.category-list-2 {
    width: calc(100% - 80px);
    margin: auto;
    /* background-color: yellow; */
    /* margin-top: 40px; */
    display: flex;
    overflow-x: hidden;
    overflow-y:hidden;
}

.category-list-content {
    display: flex;
}

.category-card {
    width: 200px;
    height: 150px;
    /* background-color: green; */
    /* margin-left: 10px; */
    padding: 10px;
    display: block;
    transition: all .5s ease;
    cursor: pointer;
}

.category-card:first-child {
    margin-left: 0;
}

.category-card:hover{
    transform: scale(1.05);
}

.category-image {
    width: 100%;
    height: 100px;
    /* background-color: red; */
    display: flex;
    align-items: center;
}

.category-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.category-card h4{
    margin-top: 15px;
    text-align: center;
    font-family: sans-serif;
    color:#707070;
}

/* home image */

.home-image{
    width: 100%;
    height: 100vh;
    /* background-color: green; */
    position: relative;
}

.home-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

.home-image-content{
    width: calc(100% - 60px);
    height: 100%;
    position: absolute;
    padding: 0 30px;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    align-items: center;
}

.home-image-text{
    width: 100%;
}

.home-image-text h2{
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
    color: white;
}

.home-image-content p{
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    margin-top: 20px;
    color: white;
}

.home-image-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.home-image-text a{
    background-color: white;
    padding: 8px 20px;
    border-radius: 5px;
    color: #707070;
    font-family: sans-serif;
    transition: all .5s ease;
}

.home-image-text a:hover{
    color: white;
    background-color: gray;
}